#main-header {
  background-image: url('../images/osj.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 170px);
  width: 100%;
}

#main-header p {
  color: black;
  font-size: 65px;
  margin-top: 60px;
  text-align: center;
}

#secondary-header {
  margin: 60px 0px;
}

#secondary-header p {
  font-size: 20px;
  text-align: center;
}

#total-budget {
  font-size: xx-large;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  right: 0;
}

.category-info {
  font-size: medium;
}

.category-title {
  font-size: x-large;
  font-weight: bold;
}

.info-inputs {
  border-bottom: grey 1px solid;
  padding: 15px 0;
}

.inputs {
  text-align: center;

}

input {
  background-color: rgb(244,247,232);
    border: none;
    width: 100px;
    height: 52px;
    font-size: xx-large;
    color: grey;
    padding-left: 10px;
    margin-top: 20px;
}
